<div class="col-xs-8 note-text">
	<% @notes = noteList.sort_by! {|n| [n.date, n.time]}%>

	<% @notes.reverse! %>

	<% if @onlyOneNote %>
		<%= render @notes.first %>
		<%= link_to "ALL #{@dayList.notes.size} Notes", controller: "day_note_lists", action: "show", id: @dayList.id %>
	<% else %>
		<% @notes.each do |note|%>
			<%= render note %>
		<% end %>
	<% end %>
</div>
