<div class="note-text">
	<% @notes = noteList %>

	<% @notes.each do |note|%>
		<%= render partial: "notes/note", 
		            locals: { note: note,
	 		           displayTags: true } %>
	<% end %>
</div>
