<div class="note-text">
	<% @notes = noteList %>

	<% @notes.each do |note|%>
		<div class="row note-list-row">
			<%= render partial: "notes/note", 
			            locals: { note: note,
	 			   displayTags: true } %>
		</div>
	<% end %>
</div>
