<div class="row note-header">
  	<div class="col-xs-12">
		<%= @notesForMonth.date.strftime("%B %Y") %>
	</div>
</div>
<% monthList = @notesForMonth.day_note_lists.sort_by! { |day| day[:date] }%>
<% monthList.reverse! %>
<% if monthList.size > 0 %>
    <% monthList.each do |day|%>
		<% if day.notes.size > 0 %>
			<div class="row note-list-item">
    			<div class="col-xs-2 date">
					<div class="date-day"><%= day[:date].strftime("%e")%></div>
					<div class="date-weekday"><%= day[:date].strftime("%^a")%></div>
			    </div>
    			<div class="col-xs-10 note-text">
					<% @notes = day.notes %>
					<%= render template: "notes/note_day_block" %>
		    	</div>
			</div>
		<% end %>
	<% end %>
<% end %>
