<div>
	<div class="row note-header">
		<div class="col-xs-12">
			<%= @dayList[:date].strftime("%^A - %^B %e, %Y")%>     <!-- Wednesday November 6 2013-->
		</div>
   	</div>

	<%= render partial: "notes/note_list", locals: { noteList: @dayList.displayedNotes }%>
</div>
