<div>
  <div class="row note-header">
	<div class="col-sm-10 col-xs-8"><%= @tag.name %></div>
	<div class="col-sm-2  col-xs-4 note-header-link">
		<%= link_to "Edit", controller: "tags", action: "edit" %>
	</div>
  </div>
  <div class="row note-details">
 	<label class="col-sm-2 col-xs-3 note-label">Notes</label>
    <div class="col-sm-10 col-xs-9 note-value">
		<% @includeDate = true %>
   		<%= render partial: "notes/note_list", locals: { noteList: @tag.notes }%>
    </div>
  </div>
  <div class="row button-entry-row">
 	<div class="col-sm-4 col-xs-2"></div>
 	<div class="col-sm-4 col-xs-8 button-entry">
		<%= link_to "OK", controller: "home", action: "index" %>
 	</div>
 	<div class="col-sm-4 col-xs-2"></div>
  </div>
</div>
