// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note-details
{
  color:#c3c3c3;
  background-color:#004a5c; 
}

.note-text
{
  color:#c3c3c3;
  font-size: small;
  text-align:left;
  vertical-align: middle;
}

.note-label
{
  text-align:right;
  vertical-align: middle;
}

.note-value
{
  text-align:left;
  vertical-align: middle;
}

.time
{
  color:#c3c3c3;
  font-size: small;
  text-align:center;
  vertical-align: middle;
}

.note-tags
{
  font-size: smaller;
}

.edit-cell
{
  text-align:center;
}

.note-frame
{
  text-align:left;
  vertical-align:top;
}

.note-header-link
{
  text-align:center;
}

.note-label-col
{
  text-align:right;
  font-weight: bold;
  vertical-align:top;
}

.note-entry-col
{
  text-align:left;
  vertical-align:top;
}

.button-entry-row
{
  background-color:#0058a0;
}

.button-entry
{
  text-align:center;
  font-size:larger;
  background-color:#004882;
}
